@{
   // Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}


<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">

    // Load the Visualization API and the piechart package.
    google.load('visualization', '1.0', { 'packages': ['corechart'] });

    // Set a callback to run when the Google Visualization API is loaded.
    google.setOnLoadCallback(drawChart);

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawChart() {
        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'date');
        data.addColumn('number', 'temp');
        data.addColumn('number', 'systolic');
        data.addColumn('number', 'diastolic');

        @foreach (var item in ViewBag.Measurements)
        {
            @:data.addRow(['@item.Timestamp', @item.Temperature, @item.Systole, @item.Diastole]);
                }

        // Set chart options
        var options = {
            'title': 'E-Health',
            'width': 800,
            'height': 600
        };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
</script>

@foreach (var p in @Model)
{
    <p>@p.Name</p>
    <div id="chart_@p.Name"></div>
}

<!--Div that will hold the pie chart-->
<div id="chart_div"></div>